 {{> head }}


    
        {{> navbar}}

    <div class="jumbotron">
        <h1 class="display-3">adios,{{nombre}} </h1>
        <p>ipsum dolor sit amet consectetur adipisicing elit. Ullam quae temporibus consequuntur, ratione, adipisci nemo velit quaerat corporis vel fugit ducimus corrupti obcaecati pariatur soluta accusantium quis reprehenderit dicta nulla?
    </p> 
        {{>footer}}